<% layout("/layouts/boilerplate") -%>
<div class="col-10 offset-1">
<table class="table mt-5 mb-5">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <% order.items.forEach((item) => { %>
            <tr>
                <td>
                    <img src="<%= item.productId.images%>" onerror="this.onerror = null; this.src ='/resources/default.jpg';" width="50">
                    <%= item.productId.name %>
                </td>
                <td>&#8377;<%= item.productId.price %></td>
                <td><%= item.quantity %></td>
                <!-- <td>
                    <input type="hidden" name="productId[]" value="<%= item.productId._id %>">
                    <input type="number" name="quantity[]" class="form-control quantity" value="<%= item.quantity %>" min="1" max="<%= item.productId.stock %>">
                </td> -->
                <td class="subtotal">&#8377;<%= item.productId.price * item.quantity %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
</div>
<div class="col-4 offset-4 mt-5 mb-5" style="border: 2px solid black;border-radius: 5px;">
    <div class="pt-4 pb-4 ps-4 pe-4">
        <h3 class="mt-2 mb-2">Order Total</h3>
        <div class="d-flex justify-content-between">
            <p>Subtotal:</p>
            <p>&#8377;<%= order.totalAmount %></p>
        </div>
    </div>
</div>